body {
    margin: 0;
    padding: 0;
    background-image: url("../images/body-bg.jpg");
}
h1 {
    color: purple;
}
.container { 
  width: 1000px; /* pick whatever width you want */
}
.container .outer {
  width: 100%;
  top: 0;
  display: block;
  
}
.container .outer .inner {
  margin: 0em auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 8em;
}
header.top-page-header {
    background-image: url("../images/border.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0em auto;
    width: 100%;
    max-width: 50em;
    height: 25em;
    border-radius: 65px;
    border-bottom: 10px inset blanchedalmond;
    border-top: 10px inset gray;
    border-right: 10px inset teal;
    border-left: 10px inset black;
    margin-bottom: .5em;
    display: inline-block;
}
@media screen and (max-width: 1000px) {
  header.top-page-header {
    max-height: 100%;
    max-width: 100%;
  }
}
nav select {
  display: none;
}
@media (max-width: 960px) {
  nav ul     { display: none; }
  nav select { display: inline-block; }
}

nav.navbar {
    width: 100%;
    height: 8em;
    position: fixed;
    top: 0; 
    padding-left: 15em;
    border-bottom: 5px inset gray;
    z-index: 1;
}
.bg-dark {
    background-color: teal!important;
}
.centering {
    text-align: center;
    font-weight: bold;
    color: #006ea7;
    font-size: 900%; 
    text-shadow: 4px 6px #edbc8b; 
    opacity: 0.9;
}
img {
    width: 60%;
    height: auto;
    text-align: center;
    margin: auto;
    padding-left: 3em;
}
div.callingcard {
    object-fit: contain;
    text-align: center;
    margin: 0em auto;
    margin-right: 19em;
}
div.scaledown {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}
ul.vertnav {
    list-style-type: none;
    display: block;
    margin-top: 8em;
    float: left;
    background-color: #023579;
    color: white;
    padding: 0;
    width: 10em;
    max-width: 100%;
    border: 1px solid #555;
}
li a {
    display: block;
    font-weight: bold;
    color: gold;
    padding: 2em 3em;
    text-decoration: none;
}
li {
    text-align: center;
    border-bottom: 1px solid #555;
}
li:last-child {
    border-bottom: none;
}
li a.active {
    background-color: #fd340a;
    color: white;
}
li a:hover:not(.active) {
    background-color: #072e35;
    color: white;
}
a.nav-link {
    background-color: teal;
}
div.center {
    z-index: 2;
    float: right;
    margin-top: -45em;
    width: 15em;
    margin-right: 2em;
}
/* # The Rotating Marker # */
details summary::-webkit-details-marker { display: none; }
summary::before {
  font-family: "Hiragino Mincho ProN", "Open Sans", sans-serif;
  content: "▶";
  position: absolute;
  top: 1rem;
  left: 0.8rem;
  transform: rotate(0);
  transform-origin: center;
  transition: 0.2s transform ease;
}
details[open] > summary:before {
  transform: rotate(90deg);
  transition: 0.45s transform ease;
}

/* # The Sliding Summary # */
details { overflow: hidden; }
details summary {
  position: relative;
}
@keyframes details-show {
  from {
    margin-bottom: -80%;
    opacity: 0;
    transform: translateY(-100%);
  }
}
details > *:not(summary) {
  animation: details-show 500ms ease-in-out;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  color: transparent;
  overflow: hidden;
}
details[open] > *:not(summary) { color: inherit; }

/* # Style 2 # */
details.style2 summary::before {
  content: "×";
  color: #FFF;
  font-size: 2rem;
  line-height: 1rem;
  transform: rotate(-45deg);
  top: 1.2rem;
  left: 0.5rem;
}
details[open].style2 > summary:before {
  transform: rotate(90deg);
  color: #F00 !important;
  transition: color ease 2s, transform ease 1s;
}

/* # Style 3 # */
details.style3 summary::before {
  content: "›";
  font-size: 2.5rem;
  line-height: 1rem;
  top: 1.3rem;
  left: 0rem;
  margin: -0.5rem -0.5rem 0 0.5rem;
  transform-origin: bottom center;
  transition: margin linear 0.05s;
}
details.style3:hover > summary:before {
  color: #FFF;
}
details[open].style3 > summary:before {
  left: 0rem;
  color: #CCC;
  transform: rotate(90deg);
  margin-left: 0.4rem;
  transition: color ease 2s, transform ease 1s, margin ease 1s;
}
@supports (-webkit-touch-callout: none) {
  details.style3 summary::before { top: 1.6rem; }
  details[open].style3 > summary:before { top: 1.3rem; transition: all 0.8s; }
}

/* # Style 4 # */
details.style4 summary {
  padding-right: 2.2rem;
  padding-left: 1rem;
}
details.style4 summary::before {
  content: "×";
  color: #FFF;
  font-size: 2rem;
  line-height: 1rem;
  transform: rotate(-45deg);
  top: 1.2rem;
  left: unset;
  right: 0.6rem;
}
details[open].style4 > summary:before {
  transform: rotate(90deg);
  color: #F00 !important;
  transition: color ease 2s, transform ease 1s;
}

/* # Style 5 # */
details.style5 summary {
  padding-right: 2.2rem;
  padding-left: 1rem;
}
details.style5 summary::before {
  content: "🙈";
  font-size: 1.5rem;
  top: 0.5rem;
  left: unset;
  right: 0.5rem;
  transform: rotate(0);
}
details.style5:hover > summary::before {
  content: "🙊";
}
details[open].style5 > summary::before {
  content: "🐵";
  transform: rotate(0deg);
}
details[open].style5 > summary:hover::before {
  content: "🙉";
}
details .monkey-see { display: inline; }
details .monkey-hide { display: none; }
details[open] .monkey-see { display: none; }
details[open] .monkey-hide { display: inline; }

/* # Style 6 # */
details.style6 summary {
  padding-right: 2.2rem;
  padding-left: 1rem;
}
details.style6 summary::before {
  content: "❔";
  font-size: 1.5rem;
  top: 0.5rem;
  left: unset;
  right: 0.5rem;
  transform: rotate(0);
}
details.style6:hover > summary:before {
  content: "👁️‍🗨️";
}
details[open].style6 > summary:before {
  content: "❌";
  transform: rotate(0deg);
}

/* # Style 7 # */
details.style7 summary {
  padding-left: 3rem;
}
details[open].style7 summary,
details.style7:hover summary {
  background: #000;
  color: #CCC;
}
details[open].style7 summary strong,
details.style7:hover summary strong {
  color: #FDCE4C;
}
details.style7:hover summary strong { color: #ffdf87; }
details.style7 summary::before {
  content: "🌑";
  font-size: 1.5rem;
  top: 0.5rem;
  left: 0.5rem;
  transform: rotate(0);
}
details.style7:hover > summary::before {
  content: "🌕";
}
details[open].style7 > summary::before {
  content: "🌕";
  transform: rotate(0deg);
}
details[open].style7 > summary:hover::before {
  content: "🌕";
}
details .moon-new { display: inline; }
details .moon-full { display: none; }
details[open] .moon-new { display: none; }
details[open] .moon-full { display: inline; }
details.style7 .content { background: #DDD; }

/* # Just Some Pretty Styles # */
body { font-family: "Open Sans", sans-serif; padding-bottom: 400px; }
img { max-width: 100%; }
p { margin: 0; padding-bottom: 10px; }
p:last-child { padding: 0; }
details {
  max-width: 500px;
  box-sizing: border-box;
  margin-top: 5px;
  background: white;
}
summary {
  border: 4px solid transparent;
  outline: none;
  padding: 1rem;
  display: block;
  background: #666;
  color: white;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}
details[open] summary,
summary:hover {
  color: #FFCA28;
  background: #444;
}
summary:hover strong,
details[open] summary strong,
summary:hover::before,
details[open] summary::before {
  color: #FFA128;
}
.content {
  padding: 10px;
  border: 2px solid #888;
  border-top: none;
}